/* General CSS Rules */
:root {
    --blue: #6070ff;
    --main-font: 'Poppins', sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #e5e5e5;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
  
  ul {
    list-style: none;
  }
  
  /* Navbar Design */
  .main-nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 8vh;
    top: 0;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: none;
  }
  
  .brand-logo {
    margin-left: 24px;
  }
  
  .brand-logo a {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--blue);
  }
  
  .menu-icon {
    margin-right: 2vw;
  }
  
  /* Headline Design */
  .intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background-color: white;
    margin-top: 8vh;
    border-bottom-left-radius: 8em;
    padding: 0 8vw 100px 8vw;
    background-image: url(assets/header-shapes\ mobile.svg);
    background-size: 100%;
    background-position-y: 20%;
    background-repeat: no-repeat;
  }
  
  .intro-section h1 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 2.5em;
    line-height: 52px;
    color: #172b4d;
    margin: 0 0 12px 0;
  }
  
  .intro-section p {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    color: #344563;
    margin-bottom: 12px;
  }
  
  .connect-btn {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    color: #7f8cff;
    margin-bottom: 16px;
  }
  
  .social-icons {
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
    padding-right: 18px;
  }
  
  .project-section {
    display: grid;
    padding: 12vh 8vw;
    row-gap: 12vh;
  }
  
  .project-card {
    background-color: white;
    border-radius: 1em;
    border: 1px solid #dfe1e6;
    padding: 1em;
  }
  
  .project-img img {
    width: 100%;
    height: auto;
  }
  
  .project-card h2 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 2em;
    line-height: 44px;
    margin: 10px 0 20px 0;
  }
  
  .project-info {
    display: flex;
    align-items: baseline;
  }
  
  .project-card h3 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 0.9em;
    line-height: 16px;
    color: #344563;
    margin: 0;
  }
  
  .project-info p {
    font-family: var(--main-font);
    font-weight: 600;
    font-size:```css
  0.9em;
    line-height: 16px;
    color: #7a869a;
    margin: 0 0 0 10px;
  }
  
  .project-info p::before {
    content: url(img/decoration-circle.png);
    display: inline-block;
    margin-right: 10px;
  }
  
  .project-description {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    color: #344563;
    margin: 20px 0;
  }
  
  .project-tags {
    display: flex;
    margin: 16px 0;
    padding: 0;
  }
  
  .project-tags a {
    padding: 4px 12px;
    background-color: #ebebff;
    border-radius: 8px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 0.8em;
    line-height: 16px;
    color: var(--blue);
    margin-right: 8px;
  }
  
  .project-btn {
    padding: 14px;
    border: 1px solid #396df2;
    border-radius: 8px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.1em;
    line-height: 24px;
    color: #396df2;
    margin: 14px 0 18px 0;
  }

  .about-myself {
    font-family: var(--main-font);
    background-size: cover;
    width: 375px;
    height: 1263px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #e5e5e5;
    margin-top: 114px;
    border-top-right-radius: 80px;
    background-image: url(assets/Base-myself.svg);
  }

  .about-myself p {
    color: #344563;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0;
}

.about-myself h1, .about-myself h2, .about-myself h3 {
  font-weight: 700;
}
  
  .about-myself h4 {
    width: 327px;
    height: 35px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin-top: 114px;
  }
  
  .about-myself > main > p {
    width: 327px;
    height: 147px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    order: 1;
    margin-top: 12px;
  }
  
  .about-myself > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 24px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: 12px;
  }
  
  .resume-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background-color: white;
    border: 1px solid #6070ff;
    width: 162px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 22px;
  }
  
  .social {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .social ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
  }
  
  .social li {
    margin-right: 20px;
  }
  
  h3 {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 60px;
    margin-left: 16px;
  }
  
  .languages, .languages-ht, .languages-cs {
    display: flex;
    background: #f7f7f9;
    width: 303px;
    height: 66px;
    margin-top: 36px;
    margin-left: 16px;
    border-radius: 8px;
  }
  
  .languages img, .languages-ht img, .languages-cs img {
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    left: 12px;
    margin-top: 9px;
    margin-left: 12px;
  }
  
  .languages p, .languages-ht p, .languages-cs p {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;