/* GLOBAL SETTINGS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: poppins, sans-serif;
}

:root {
  --white: #fff;
  --main-font: poppins, sans-serif;
  --button-color: #396df2;
  --main-background: #e5e5e5;
  --primaryColor: #172b4d;
  --secondaryColor: #344563;
  --thirdColor: #6070ff;
  --borderColor: #dfe1e6;
}

body {
  margin: 0;
  background-color: var(--main-background);
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* Navbar Design */
.main-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  background-color: var(--white);
  height: 8vh;
  top: 0;
}

.nav-links {
  display: none;
}

.brand-logo {
  margin-left: 18px;
}

.brand-logo a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--thirdColor);
  position: relative;
  display: inline-block;
}

.logo-spin {
  position: absolute;
  top: -28px;
  left: -12px;
  width: 40px;
  -webkit-animation: spin 9s linear infinite;
  -moz-animation: spin 9s linear infinite;
  -ms-animation: spin 9s linear infinite;
  -o-animation: spin 9s linear infinite;
  animation: spin 9s linear infinite;
}

.logo-still {
  position: absolute;
  top: -30px;
  left: -12px;
  width: 40px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.menu-icon {
  margin-right: 2vw;
}

/* Headline Design */
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  background-color: var(--white);
  margin-top: 8vh;
  border-bottom-left-radius: 8em;
  padding: 0 8vw;
  background-image: url("assets/header-shapes\ mobile.svg");
  background-size: 100%;
  background-position-y: 20%;
  background-repeat: no-repeat;
}

.intro-section h1 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  color: #172b4d;
  margin: 0 0 12px;
}

.intro-section p {
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: var(--secondaryColor);
  margin-bottom: 12px;
}

.connect-btn {
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  padding: 0;
  margin: 0;
}

.social-icons li {
  padding-right: 18px;
}

/* WORKS SECTION */
.work-section {
  padding-top: 114px;
  display: grid;
  row-gap: 88px;
}

.blurEffect {
  background-color: rgb(0 0 0 / 20%);
  filter: blur(8px);
}

.work-description {
  display: flex;
  flex-direction: column;
  max-width: 328px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  background-color: var(--white);
}

.work-image-container {
  width: 100%;
  max-width: 328px;
}

.work-image {
  width: 100%;
}

.work-features-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--primaryColor);
}

.work-features {
  display: flex;
  gap: 12px;
}

.work-features :nth-child(1) {
  list-style: none;
  color: var(--secondaryColor);
  font-weight: 600;
}

.work-features-item {
  font-size: 13px;
  list-style: inside;
  color: #7a869a;
  font-weight: 600;
}

.work-paragraph {
  display: flex;
  color: var(--secondaryColor);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.work-list-container {
  display: flex;
  gap: 8px;
  list-style: none;
}

.ruby :nth-child(2) {
  display: none;
}

.work-language-item {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: var(--thirdColor);
  font-size: 12px;
  font-weight: 500;
}

.work-button {
  cursor: pointer;
  background: var(--white);
  border: 1px solid var(--button-color);
  border-radius: 8px;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 46%;
  color: var(--thirdColor);
  font-size: 17px;
  font-weight: 500;
  transition: 0.5s ease;
}

.work-button:hover {
  background-color: var(--thirdColor);
  color: var(--white);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.work-button.press {
  background: #2230d2;
  color: var(--white);
}

/* POPUP STYLES */
.popup-description {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--borderColor);
  border-radius: 16px;
  padding: 16px;
  background: var(--white);
  overflow: scroll;
  z-index: 1;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-close {
  font-size: 22px;
  color: #67798e;
  position: initial;
  padding: 0;
  padding-right: 20px;
  cursor: pointer;
}

.popup-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--primaryColor);
}

.popup-image-container {
  width: 100%;
}

.popup-image {
  width: 100%;
}

.popup-features-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup-features {
  display: flex;
  gap: 12px;
}

.popup-features :nth-child(1) {
  list-style: none;
  color: var(--secondaryColor);
  font-weight: 600;
}

.popup-features-item {
  font-size: 13px;
  list-style: inside;
  color: #7a869a;
  font-weight: 600;
}

.popup-paragraph-mobile {
  color: var(--secondaryColor);
  font-size: 15px;
  font-weight: 400;
}

.popup-list-container {
  display: flex;
  gap: 8px;
  list-style: none;
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.second-row {
  display: none;
}

.popup-language-item {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: var(--thirdColor);
  font-size: 12px;
  font-weight: 500;
}

.about-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background: var(--white);
  border: 1px solid var(--button-color);
  border-radius: 8px;
  padding: 12px;
  margin-top: 20px;
  width: 46%;
  color: var(--thirdColor);
  font-size: 17px;
  font-weight: 500;
  transition: 0.5s ease;
}

.popup-button:hover {
  background-color: var(--thirdColor);
  color: var(--white);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.popup-button.press {
  background: #2230d2;
  color: var(--white);
}

/* ABOUT SECTION */
.about-section {
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.about-container {
  background-color: var(--white);
  padding: 114px 0;
  margin-top: 14vh;
  border-radius: 0 80px 0 0;
}

.about-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 327px;
  gap: 12px;
}

.about-title {
  color: #172b4d;
  font-size: 2.5rem;
  font-weight: 700;
}

.title-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  padding-bottom: 2.5px;
}

.about-description {
  color: var(--secondaryColor);
  font-size: 16px;
  font-weight: 400;
}

.about-connect {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.social-media-list {
  display: flex;
  gap: 21px;
  list-style: none;
  margin-top: 14px;
}

.social-media-item {
  font-size: 20px;
}

.resume-button {
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid var(--thirdColor);
  border-radius: 8px;
  color: var(--button-color);
  padding: 12px;
  background: var(--white);
  font-size: 17px;
  font-weight: 500;
  width: 49%;
}

.resume-button:hover {
  background-color: var(--thirdColor);
  color: var(--white);
  box-shadow: 0 8px 16px rgba(64 83 252 / 24%);
}

.resume-button.press {
  background: #2230d2;
  color: var(--white);
}

.skills-section {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  max-width: 327px;
  margin: 0 auto;
  gap: 12px;
}

.skills-container {
  list-style: none;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-container.active {
  border-bottom: 1px solid var(--borderColor);
}

.skills-title {
  font-size: 20px;
  font-weight: 500;
}

.skills-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skills-item {
  background-color: #f7f7f9;
  padding: 12px;
  border-radius: 8px;
}

.language-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.language-image {
  width: 48px;
  height: 48px;
}

.skills-item-title {
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

/* Contact Section */
.contact-section {
  background-color: white;
  padding: 10vh 0 0 0;
}

.contact-container {
  background-color: var(--thirdColor);
  padding: 15vh 8vw 5vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8em;
  background-image: url(assets/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container h2 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  color: white;
  margin: 0 0 8px 0;
}

.contact-container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 50px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.labels {
  display: none;
}

.input-field,
.textarea-field {
  width: calc(100% - 30px);
  border-radius: 8px;
  border: var(--input-border);
  margin-bottom: 20px;
  padding: 0 15px;
  cursor: pointer;
  font: var(--input-font);
  color: var(--input-color);
}

.input-field {
  height: 48px;
}

.textarea-field {
  height: 170px;
  margin-bottom: 22px;
  padding: 15px;
}

.input-field::placeholder {
  font: var(--input-placeholder);
  color: rgba(23, 43, 77, 1);
}

.textarea-field::placeholder {
  font: var(--input-placeholder);
}

.button-form {
  align-self: self-start;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: var(--thirdColor);
  padding: 12px 16px;
  border: 1px solid var(--thirdColor);
  margin-left: 15px;
}

.button-form:hover {
  background-color: var(--thirdColor);
  color: white;
  border-color: white;
}

.button-form:active {
  background-color: #2230d2;
  color: white;
  border-color: #2230d2;
}

.error-message {
  display: flex;
  text-align: center;
  justify-content: space-around;
  color: var(--white);
  font-family: var(--main-font);
  font-weight: lighter;
  font-size: large;
  margin-bottom: 2vh;
  width: 90vw;
}

.error-icon {
  width: 25px; 
  height: 25px; 
  margin-top: 2vh;
}

/* Mobile Menu */
#mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 70, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 9999;
  padding: 86px 28px;
  box-sizing: border-box;
  overflow: auto;
}

#mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mobile-menu ul li {
  margin-bottom: 50px;
}

#mobile-menu ul li a {
  display: flex;
  width: 251px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--white);
  font-size: 32px;
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 44px;
  text-decoration: none;
  z-index: 1111111;
}

/* Close Icon */
#close-icon {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

#close-icon img {
  width: 20px;
  height: 20px;
}

/* Mobile Menu - Visible */
#mobile-menu.visible {
  display: block;
}

/* Desktop Version */
@media (min-width: 768px) {
  /* Navigation bar */
  .main-nav {
    height: 10vh;
    padding: 0 10%;
  }

  .brand-logo {
    margin: 0 10vw 0 0;
  }

  .logo-spin {
    position: absolute;
    top: -40px;
    left: -10px;
    width: 65px;
  }

  .logo-still {
    position: absolute;
    top: -44px;
    left: -10px;
    width: 65px;
  }

  .nav-links {
    display: flex;
    gap: 2.22vw;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 20px;
  }

  .menu-icon {
    display: none;
  }

  /* Headline */
  .intro-section {
    background-image: url(assets/background-headline.png);
    background-size: contain;
    background-position: center;
    margin-top: 10vh;
    padding: 16vw 18vw 12vw 16vw;
    height: 916px;
    display: flex;
    justify-content: center;
  }

  .intro-section h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .intro-section p {
    max-width: 63.88vw;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  .connect-btn {
    font-size: 16px;
    margin-top: 2vh;
  }

  /* WORKS SECTION */
  .work-section {
    row-gap: 10vh;
    max-width: 90vw;
    margin: 0 auto;
  }

  .work-description {
    flex-direction: row;
    max-width: 82vw;
    height: 60vh;
    max-height: 496px;
    width: 100%;
  }

  .work-image-container {
    width: 40vw;
    max-width: 544px;
    height: 40vh;
    max-height: 448px;
    flex-shrink: 0;
  }

  .work-features-container {
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 40vw;
    max-width: 544px;
    height: 40vh;
    max-height: 445px;
  }

  .work-title {
    display: flex;
    width: 496px;
    height: 46px;
    flex-direction: column;
  }

  .work-features {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .work-features-item {
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 24px;
  }

  .work-paragraph {
    display: flex;
    max-width: 496px;
    max-height: 50px;
    flex-direction: column;
  }

  .ruby :nth-child(2) {
    display: block;
  }

  .work-language-item {
    font-size: 10px;
    display: flex;
    padding: 4px 12px;
    align-items: center;
  }

  .work-button {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
    max-width: 126px;
    max-height: 48px;
    font-size: 17px;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
  }

  /* POPUP STYLES */

  .popup-description {
    width: 80vw; /* adjust as needed */
    height: 90vh; /* adjust as needed */
    max-width: 1156px;
    max-height: 1163px;
    flex-shrink: 0;
    box-shadow: 0 48px 48px 0 rgba(37, 47, 137, 0.08);
  }

  .popup-title {
    display: flex;
    max-width: 1056px;
    max-height: 40px;
    flex-direction: column;
    font-size: 40px;
    font-family: var(--main-font);
    font-weight: 700;
    line-height: 52px;
  }

  .popup-features-item {
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
    font-family: var(--main-font);
  }

  .popup-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 1108px;
    max-height: 586px;
    flex-shrink: 0;
  }

  .popup-image {
    max-height: 500px;
    width: 100vw;
    height: 100vh;
  }

  .popup-features-container {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .popup-paragraph {
    display: flex;
    width: 80vw;
    max-width: 778px;
    max-height: 271px;
    flex-direction: column;
    margin-top: 10px;
    color: var(--secondaryColor);
  }

  .popup-bottom-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 306px;
    height: 157px;
  }

  .popup-list-container {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    width: 40vw;
    max-width: 306px;
    border-bottom: none;
    margin-bottom: 10px;
  }

  .second-row {
    display: flex;
    margin-top: -35px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
  }

  .popup-language-item {
    color: var(--thirdColor);
    font-size: 12px;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.36px;
    border-radius: 8px;
    border: 1px solid var(--white);
    display: flex;
    padding: 4px 12px;
    align-items: center;
  }

  .about-btn-container {
    display: flex;
    padding: 8px 16px 16px 5px;
    justify-content: space-around;
    align-items: flex-start;
    gap: 12px;
    max-width: 306px;
    max-height: 56px;
  }

  .popup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 25px;
    border-radius: 8px;
    border: 1px solid var(--thirdColor);
    height: 40px;
    text-align: center;
    font-size: 15px;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 20px;
    margin-top: -7px;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 150px;
  }

  /* About Section */
  .about-section {
    display: flex;
    justify-content: start;
    margin-top: -6vh;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 22vh;
  }

  .about-description {
    width: 447px;
    height: 102px;
  }

  .about-info {
    width: 65%;
    min-width: 295px;
    margin-left: 10vw;
  }

  .social-media-list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .social-media-item {
    margin-right: 0.6em;
  }

  .skills-section-wrapper {
    width: 100vw;
    margin-right: 0;
    padding-top: 1%;
  }

  .skills-section {
    padding: 0;
    position: relative;
    width: 100%;
    margin-left: 11vw;
    min-width: max-content;
    max-width: 60%;
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  .skills-item {
    width: 122px;
    height: 120px;
    margin-right: 0.8em;
    padding-top: 75px;
    justify-content: center;
    position: relative;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .skills-item-title {
    margin-left: 0;
    padding-left: 0;
    position: absolute;
    width: 98px;
    height: 24px;
    left: 12px;
    top: 76px;
  }

  .skills-image {
    float: right;
  }

  .arrow-image {
    float: right;
  }

  .language-image {
    position: absolute;
    width: 48px;
    height: 48px;
    left: calc(50% - 48px / 2 - 20px);
    top: 12px;
    transition: all 0.5s ease;
  }

  .language-image:hover {
    animation: bounce 0.5s;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .title-container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5px;
    position: relative;
  }

  .title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5px;
    position: relative;
    border-image: url("assets/Separator\ Bottom@2x.png") 1 stretch;
    flex-basis: 100%;
    border-bottom-width: 1px;
  }

  /* Contact Section */
  .contact-section {
    padding-top: 10vh;
  }

  .contact-container {
    padding: 10vw 25vw;
    background-image: url(assets/background-desktop-contact-form.png);
    background-size: contain;
    background-position: center;
  }

  .form-container {
    max-width: 460px;
  }

  .form-container p {
    width: 569px;
    height: 102px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    padding-top: 1vh;
  }

  .button-form {
    align-self: center;
  }

  .error-message {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: large;
    margin-top: 3vh;
    margin-bottom: 5vh;
    width: 50vw;
  }
  
  .error-icon {
    display: flex;
    margin-top: 1vh;
    width: 30vw;
    height: 5vh;
  }

}